/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --accent-color: #000;
    --bg-color: #fff;
    --main-font: "Inter-Variable", Courie, Arial, sans-serif;
    --accent-font: "PressStrart2P";
    --font-size: 18px;
    --title-font-weight: 700;
    --text-font-weight: 400;
    --bg-image: repeating-linear-gradient( #d3d3d3, rgb(211 211 211/0) 2px), 
    repeating-linear-gradient(90deg, #d3d3d3, rgb(211 211 211/0) 2px),
    linear-gradient(#E7E7E7 0.01%, #1A1A1A);
    --watermark-color: #fff;
    --like-color: #f00000;
    --bn-color: #fff;
}

:root.theme-light {
    --accent-color: #000;
    --bg-color: #fff;
    --main-font: "Inter-Variable", Courie, Arial, sans-serif;
    --accent-font: "PressStrart2P";
    --font-size: 18px;
    --title-font-weight: 700;
    --text-font-weight: 400;
    --bg-image: repeating-linear-gradient( #d3d3d3, rgb(211 211 211/0) 2px), 
    repeating-linear-gradient(90deg, #d3d3d3, rgb(211 211 211/0) 2px),
    linear-gradient(#E7E7E7 0.01%, #1A1A1A);
    --watermark-color: #fff;
    --like-color: #f00000;
    --bn-color: #fff;
}

:root.theme-dark {
    --accent-color: #00CC14;
    --bg-color: #000;
    --main-font: "Inter-Variable", Courie, Arial, sans-serif;
    --accent-font: "PressStrart2P";
    --font-size: 18px;
    --title-font-weight: 785;
    --text-font-weight: 465;
    --bg-image: repeating-linear-gradient(#000, rgb(0 0 0/0) 2px),
    repeating-linear-gradient(90deg, #000, rgb(0 0 0/0) 2px), linear-gradient(#007F0C, #004306);
    --watermark-color: #000;
    --like-color: #f00000;
    --bn-color: var(--accent-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --accent-color: #00CC14;
        --bg-color: #000;
        --main-font: "Inter-Variable", Courie, Arial, sans-serif;
        --accent-font: "PressStrart2P";
        --font-size: 18px;
        --title-font-weight: 785;
        --text-font-weight: 465;
        --bg-image: repeating-linear-gradient(#000, rgb(0 0 0/0) 2px),
        repeating-linear-gradient(90deg, #000, rgb(0 0 0/0) 2px), linear-gradient(#007F0C, #004306);
        --watermark-color: #000;
        --like-color: #f00000;
        --bn-color: var(var(--accent-color));
    }
}
